body {
	margin: 0px; 
	padding: 0px; 

}


#top{
  float: right;
  margin: 0px 20px 0 0;
  }

.wrap {

	width: 1000px; 
	background: white;
	margin: 0px auto 0px auto;
	}/*본문 안에 사용된 영역을 묶어서 배경색, 여백 등을 지정 */


header {
	background: white;
	 width: 1000px;
	  height: 80px;
	   text-align: center;
	    padding: 0.1px 0px 0px 0px;
	}/*헤더 부분의 배경색, 크기, 글자 정렬 등을 지정*/


a {
	text-decoration: none;
	 color: black;
	}/*홈페이지 제목의 하이퍼링크의 밑줄을 없애고 검은색을 표현 */



nav a:hover {
	 color: #F29472;
	}/*마우스를 올렸을 때 글자색을 지정*/


nav {
	width: 1000px;
	 height: 70px;/*높이*/
	  background: #6CCED9;
	  text-align: center;
	  padding: 0.1px 0px 0px 0px;
	}/*내비게이션 영역의 크기, 배경색, 글자 정렬 등을 지정*/

nav li {
	display: inline;
	 padding: 5px;
	}



nav a {
	text-decoration: none; 
	color: #2C3F59;/*글자색*/
	 padding: 20px;
	  border-style: hidden hidden solid hidden;
	   border-color: transparent; 
	   font-weight: bold;
	}/*내비게이션 영역의 메뉴 글자들의 밑줄을 없애고 글자색 등 지정 */


article {
	width: 1000px;
	height: 1000px;
	 background: white;
	
	
	}/*아티클 영역의 크기, 배경색, 글자 정렬 등을 지정*/





footer {
	float: bottom; 
	width: 1000px;
	 height: 130px;
	 padding: 20px 0px 0px 0px;
	 background: #6CCED9;/*각주 배경색*/
	 color: black;
	 clear: both; 
	 text-align: center;
	/*각주 영역의 크기, 배경색 글자 정렬 등을 지정*/
}

.dropdown{

  display: inline-block;
  font-size: 20px;

}

.dropdowncontents{
  display: none;/*-안보이게 표시*/
  background-color: #fff;
  position: absolute;/*옆으로*/
}

.dropdown:hover .dropdowncontents{
  display: block;/*밑으로 보이게 표시*/
}


  ul,li{list-style:none;}
  #slide{
  	
  	height:500px;
    margin: 20px;
  	position:relative;
  	overflow:hidden;

  }
  #slide ul{
  	width:395%;
  	height:100%;
  	transition:1s;
  }
  #slide ul:after{
  	content:"";
  	display:block;
  	clear:both;
  }
  #slide li{
  	float:left;
  	width:25%;
  	height:100%;
  }
  #slide li:nth-child(1){background:#FFF;}

  #slide li:nth-child(2){background:#FFF;}

  #slide li:nth-child(3){background:#FFF;}

  #slide input{display:none;}

  #slide label{
  	display:inline-block;
  	vertical-align:middle;
  	width:10px;
  	height:10px;
  	border:2px solid #666;
  	background:#fff;
  	transition:0.3s;
  	border-radius:50%;
  	cursor:pointer;
}

  #slide .pos{
  	text-align:center;
  	position:absolute;
  	bottom:10px;
  	left:0px;
  	width:100%;
  
  }

  #pos1:checked~ul{margin-left:0%;}

  #pos2:checked~ul{margin-left:-100%;}

  #pos3:checked~ul{margin-left:-200%;}


  #pos1:checked~.pos>label:nth-child(1){background:#666;}

  #pos2:checked~.pos>label:nth-child(2){background:#666;}

  #pos3:checked~.pos>label:nth-child(3){background:#666;}

