body {
	margin: 0px; 
	padding: 0px; 
	background: #D2FFD2;
}
.wrap {

	width: 1000px; 
	background: white;
	margin: 0px auto 0px auto;
	}/*본문 안에 사용된 영역을 묶어서 배경색, 여백 등을 지정 */


header {
	background: white;
	 width: 1000px;
	  height: 80px;
	   text-align: center;
	    padding: 0.1px 0px 0px 0px;
	}/*헤더 부분의 배경색, 크기, 글자 정렬 등을 지정*/


a {
	text-decoration: none;
	 color: black
	}/*홈페이지 제목의 하이퍼링크의 밑줄을 없애고 검은색을 표현 */



nav a:hover {
	color: #F0FFF0;
	 border-color: #F0FFF0;
	}/*마우스를 올렸을 때 글자색을 지정*/


nav {
	width: 1000px;
	 height: 70px;/*높이*/
	  background: #56B37F;
	  text-align: center;
	  color: #E8F5FF;
	  padding: 0.1px 0px 0px 0px;
	}/*내비게이션 영역의 크기, 배경색, 글자 정렬 등을 지정*/

nav li {
	display: inline;
	 padding: 5px;
	}



nav a {
	text-decoration: none; 
	color: #AAFA82;/*글자색*/
	 padding: 20px;
	  border-style: hidden hidden solid hidden;
	   border-color: transparent; 
	   font-weight: bold;
	}/*내비게이션 영역의 메뉴 글자들의 밑줄을 없애고 글자색 등 지정 */


nav a:hover {
	color: #FF7F50;

	}


article {
	width: 1000px;
	 background: white;
	  float: left;
	
	}/*아티클 영역의 크기, 배경색, 글자 정렬 등을 지정*/



aside {
	width: 1000px;

	 background: #56B37F;/*어사이드 배경색*/
	  float: right;
	}/*어사이드 영역의 크기, 배경색, 글자 정렬 등을 지정 링크*/


footer {
	float: bottom; 
	width: 1000px;
	 height: 50px;
	 padding: 20px 0px 0px 0px;
	 background: #74D19D;/*각주 배경색*/
	 color: black;
	 clear: both; 
	 text-align: center;
	/*각주 영역의 크기, 배경색 글자 정렬 등을 지정*/
}

.dropdown{

  display: inline-block;
  font-size: 20px;

}

.dropdowncontents{
  display: none;/*-안보이게 표시*/
  background-color: #fff;
  position: absolute;/*옆으로*/
}

.dropdown:hover .dropdowncontents{
  display: block;/*밑으로 보이게 표시*/
}